In [2]:
import pandas as pd

In [10]:
df = pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'],
              'Sue': ['Pretty good.', 'Bland.'],
              'Oscar': ['I liked it.', 'It was awful.']},
             index=['Product A', 'Product B'])

In [20]:
df

                     Bob           Sue          Oscar
Product A    I liked it.  Pretty good.    I liked it.
Product B  It was awful.        Bland.  It was awful.

In [21]:
df.iloc[0]

Bob       I liked it.
Sue      Pretty good.
Oscar     I liked it.
Name: Product A, dtype: object

In [14]:
df.iloc[:, 1]

Product A    Pretty good.
Product B          Bland.
Name: Sue, dtype: object

In [22]:
df.iloc[:1, 1]

Product A    Pretty good.
Name: Sue, dtype: object